
<!--
<pp-data>
  {title: "My Wooow Check it out New Post", body: "This is my first post!"}
</pp-data>
<pp-options>

</pp-options>

-->

<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
    {{body}}
  </div>
</div>
