!!! 5
%html
  %head
    %title HAML to HTML Free Online Converter
    %meta(author="HAML Online Converter 2012")
  %body
    #content
      .entry-title Welcome To HAML to HTML Converter Online
      .entry-content
        Enter your HAML code here...
        HAML to HTML code will update automatically or on ENTER button.


    #footer
      %ul#links
        %li
          %a(href="/") Homepage
        %li
          %a(href="/what-is-haml/") What is HAML?
        %li
          %a(href="/how-to-use-haml/") HAML usage examples
        HAML Converter
