// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.preview-plus-panel{
  // max-height: 200px;
}
.resizer-drag {
  height:2px;
  top:0;
  left: 0;
}
.resizer-drag:hover{
  cursor: ns-resize;
  height:6px;
  background-color:cornsilk;
}

div > iframe {
  height: 100%;
}
.preview-plus-base{
  font-size:15px;
}
.preview-plus-base div {
  margin: 5px 10px;
  text-align: center;
}

.preview-plus-base input[type='text']{
  margin-left: 10px;
  width: 40ch;
}

.preview-plus-status span{
  font-weight: bold;
}

.preview-plus-status .compileTo{
  color: blueviolet;
}

.preview-plus-status .live{
  color: green;
  margin-right: 5px;
}

.preview-plus-status .live.on{
  background-color: lightgreen;
}

.preview-plus-status .live.off{
  color: red;
}

.preview-plus-status .htmlp{
  background-color: lightgreen;
}

.preview-plus-status span{
  padding: 0 10px;
}

.preview-plus-status span.enums{
  padding: 0 3px;
  content: "▼";
  color: green;
  display: none;
}
